// Custom style...

:root {
  --bs-row-bg: #ddeeff;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
 * Dropdown Menu Animation for Bootstrap Navbar
 * https://startbootstrap.com/snippets/animated-navbar-dropdown
 */

// Change this breakpoint if you change the breakpoint of the navbar
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.bg-indigo {
  background-color: #6574cd !important;
}

.h-5 {
  height: 1.25rem !important;
}

.w-5 {
  height: 1.25rem !important;
}

.flex-1 {
  flex: 1 1 0%;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

.bg-light {
  background: #dee2e6;
}

.card {
  border-radius: 0.475rem;
  border-color: #dee2e6;
  border-style: solid;
  border-width: 1px;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f9fafb;
  border-top: 0;
}

.card-footer:last-child {
  border-radius: 0 0 0.475rem 0.475rem;
}


.card-number {
    font-weight: 800;
}

.dropdown-menu {
  width: 220px;
}

.small {
  font-size: .875rem !important;
}

.navbar {
    background-color: #142B53;
    color: white;
}

.navbar .navbar-nav .nav-item.active .nav-link {
    color: #B57D18;
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: #FFF;
}

.nav-item .nav-link:hover, .nav-item .nav-link:focus {
    color: #B57D18;
}

.form-group {
    margin-bottom: 1rem;
}

.form-check-input,.form-check-label {
    cursor: pointer;
}

.table > :not(:first-child) {
    border-top: 1px solid currentColor;
}

.btn-primary {
    color: #FFF;
}

.form-control, .form-select, .select2, .select2-container--bootstrap-5 .select2-selection {
    background-color: #FFF;
}

.required-msg {
    padding-right: 10px;
    padding-top: 5px;
}

.card-header {
    border-bottom: var(--bs-card-border-width) solid var(--bs-border-color);
}


.dashboard-active-icons {
    .fa-circle:before {
        color: #142b53;
        &:hover {
            color: #21478a;
        }
    }
}

.dashboard-active-icons .fa-circle:before {
    color: #142b53;
}

.dashboard-active-icons:hover .fa-circle::before {
    color: #B57D18 !important;
}

.dashboard-inactive-icons {
    .fa-circle:before {
        color: #808080;
        opacity: 0.6;
    }
    cursor: not-allowed !important;
}

.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:1%;
    content: attr(data-count);
    font-size:30%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
}


@media (max-width: 576px) {
    h3, .h3 {
        font-size: calc(1rem + 0.39vw);
    }

    .Absolute-Center.is-Responsive {
        width: 90% !important;
    }
    .swiper-home {
        .card {
            .card-header {
                h4{
                    font-size: 18px !important;
                }
            }
        }
    }

}


@media (max-width: 768px) {

    .nav-item {
        border-bottom: solid 1px rgba(255,255,255,0.5);
    }

    a.dropdown-item {
        color: rgba(255,255,255,0.5);
    }
/*    li.nav-item.dropdown {
        border: none;
    }*/
    .dropdown-menu {
        border: none;
        background: none;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        &.show {
            padding-bottom: 0;
            li {
                color: solid 1px rgba(255,255,255,0.5);
                border-bottom: solid 1px rgba(255,255,255,0.5);
                padding: 5px 0 5px 0;
                &:first-child {
                    border-top: solid 1px rgba(255,255,255,0.5);
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

}

/*

.table-striped>thead>tr { background-color: #ffffff; }

.table-striped > tbody > tr:nth-of-type(odd) > * { --bs-table-accent-bg: var(--bs-row-bg) }

.table-striped>tbody>tr:nth-of-type(odd) { background-color: #ddeeff; }

.table-striped>tbody>tr:nth-of-type(even) { background-color: #ffffff; }

.form-control:disabled {

}

.actions a, .actions button {
    padding: 0 5px 0 5px;
}

*/


.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}



.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 450px;

    .card {
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        .form-control {
            font-weight: 700;
            font-size: 1.1rem;
        }
        input::placeholder {
            font-weight: 700;
            color:#919eab;
        }
    }
}





#logo-container{
    margin: auto;
    margin-bottom: 10px;
    width:200px;
    height:30px;
    background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
}



body.bg-light {
    background: #DBDFEB !important;
    /*background: linear-gradient(315deg, rgba(183,192,201,1) 0%, rgba(241,243,245,1) 100%);*/
    min-height: 100vh;
}

.card.card-default {
    background: rgba(251, 251, 252, 0.7);
    border: 2px solid #d4dadf !important;

    .card-header {
        .form-group {
            margin-bottom: 0;
        }
    }

    .card-body {
        table {
            margin-bottom: 0;
        }
    }
}

/*
.table-striped>tbody>tr:nth-of-type(2n) {
    background-color: rgba(251, 251, 252, 0.8);
}
.table-striped>thead>tr {
    --bs-table-accent-bg: rgba(251, 251, 252, 0.5);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgba(251, 251, 252, 0.6);
}
*/

.bg-custom {
    background: #b7c0c9;
}



.cards-striped {
    .card {
        transition: 0.3s;
        &:nth-of-type(odd){
            background: rgba(255, 255, 255, 0.3);
        }
        &:nth-of-type(even){
            background: rgba(255, 255, 255, 0.6);
        }
        &:hover {
            background: hsla(0,0%,100%,.7) !important;
        }
    }
}

.card {
    &.people-min-height {
        min-height: 168px;
    }
}


.text-justify {
    text-align: justify;
}

.select2-container {
    border-radius: 0.375rem;
}

.text-justify {
    text-align: justify;
}

input[type=text]:read-only,
input[type=date]:read-only,
input[type=datetime]:read-only,
input[type=datetime-local]:read-only,
textarea:read-only,
select[readonly] {
    pointer-events: none;
    touch-action: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background: #e9ecef !important;
    outline: none !important;
}

select[readonly].select2 + .select2-container {
    pointer-events: none;
    touch-action: none;

    .select2-selection {
        -webkit-box-shadow: none !important;
        background: #e9ecef;
        box-shadow: none;
        outline: none !important;
    }

    .select2-selection__arrow,
    .select2-selection__clear {
        display: none;
    }
}

.btn-dashboard {
    min-height: 117px;
    min-width: 160px;
}




.card.bg-white {
    background: rgba(255, 255, 255, 0.4) !important;
    border: 1px solid #DFE3E6;
}

body.bg-logo {
    background: url("/img/bg.jpg") fixed no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: 50%;
}

.btn-blue {
    background-color: #142B53;
    color: #FFF;
}

.btn-blue:hover, .btn-blue:focus {
    background-color: #B57D18 !important;
    color: #FFF !important;
}

//Dynamic Tables

.table-dynamic {
    width: 100%;
    border-collapse: collapse;
}

.table-dynamic thead tr td {
    font-weight: bold;
}

.table-dynamic thead tr, .table-dynamic tbody tr {
    border-top: 0;
    border-bottom: 0;
    border-color: transparent;
    border-style: none;
}

.table-dynamic .actions {
    text-align: right;
}

.table-dynamic td .btn {
    padding: 0 5px;
}

.table-dynamic td {
    padding: 5px 10px;
}

/*
.table-striped {
    tbody {
        tr:nth-of-type(odd) {
            background: hsla(0,0%,100%,.4) !important;
        }
    }
}
*/




@media screen and (max-width: 600px) {
    .table-dynamic .actions {
        text-align: center;
    }

    .table-dynamic > :not(:first-child) {
        border-top: 0;
    }

    .table-dynamic thead {
        visibility: hidden;
        height: 0;
        position: absolute;
    }

    .table-dynamic tr {
        display: block;
        margin-bottom: .625em;
    }

    .table-dynamic td {
        border-bottom: none;
        display: block;
        font-size: .9em;
        text-align: right;
    }

    .table-dynamic td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.qr {
    width: 65px;
    height: 65px;
}





.view-actions {
    display: flex;
    align-items: center;
}


.view-btn {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: var(--main-color);
    margin-left: 8px;
    transition: .2s;

    &.active {
        background-color: #000000;
        color: #ffffff;
    }

    &:not(.active):hover {
        background-color:  var(--link-color-hover);
        color: var(--link-color-active);
    }
}

.pagination {
    .page-item {
        &.active {
            background: #3490dc !important;
        }
        .page-link {
            background: hsla(0,0%,100%,.4) !important;
            &:hover {
                background: hsla(0,0%,100%,.1) !important;
            }
        }
    }



    .page-link {
     /*   background: hsla(0,0%,100%,.4) !important;*/
    }
}



.bg-dark2 {
    background: #1b396e;
}

.bg-button-home {
    transition: 0.3s;
    background: #EAECF3;
    &:hover {
        background: rgba(255, 255, 255, 0.8);
        .fa-circle:before {
            color: #b57d18 !important;
        }
    }
}

.dashboard-button-swipper {
    transition: 0.3s;
    &:hover {
        .fa-circle:before {
            color: #b57d18 !important;
        }
    }
}

.modal-header {
        background-color: #142b53;
        color: #fff;
    .btn-close {
        filter: invert(1) grayscale(100%) brightness(200%);
    }
}

.modal-footer {
    background: #d7e2f5;
}




// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .fa-stack.fa-5x {
        font-size: 2em;
    }
    h5.fs-3 {
        font-size: 11px !important;
    }

    .swiper-home {
        .card-header{
            .col-6 {
                h4 {
                    font-size: 13px !important;
                }
            }
        }
    }
}



.bg-blue-light {
    background: #3490dc !important;

}

.btn-visit-action {
    &:hover {
        color: #142b53 !important;
        background-color: transparent;
        border-color: #3490dc;
        border-style: solid;
        border-width: 1px;
    }
}

.nav-tabs {
    .nav-link {
        margin-bottom: 0 !important;
        border: 0 !important;
        border-radius: 0 !important;
        &.active {
            background: #dbdfea;
            margin-bottom: 0 !important;
            color: #142B53;
        }
        &:hover {
            background: #AFB8D3 !important;
            margin-bottom: 0 !important;
            color:#333333 !important;;
        }
        &:focus {
            background: #dbdfea;
            margin-bottom: 0 !important;
            color: #142B53 !important;
        }
        &:focus-visible {
            background: #254e97 !important;
            margin-bottom: 0 !important;
            color: #fff !important;
            outline: none !important;
        }
        &:focus-within {
            margin-bottom: 0 !important;
            outline: none !important;
        }
    }
}

.select2-container--bootstrap-5.select2-container--disabled .select2-selection, .select2-container--bootstrap-5.select2-container--disabled.select2-container--focus .select2-selection {
    cursor: default;
}

.badge.text-truncate {
    max-width: 100%;
}


.disability-list {
    column-count: 3;
    background-color: #E6E9F1;
    border: 1px solid #CED4DA;
    padding: 5px;
}


.card-document-list {
    width: 100%;
}

.bg-line-details {
    background: rgba(223, 226, 237, 0.4);
}

@media (min-width: 991px) and (max-width: 1474px) {
    .visitor-data-checkout {
        font-size: 0.86rem;
    }
}
@media (min-width: 1400px) and (max-width: 1455px) {
    .visitor-data-checkout {
        font-size: 0.81rem;
    }
}
@media (min-width: 1475px) and (max-width: 1509px) {
    .visitor-data-checkout {
        font-size: 0.8rem;
    }
}


@media (min-width: 769px) and (max-width: 784px) {
    .visitor-data {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) and (max-width: 1139px) {
    .visitor-data {
        font-size: 0.7rem;
    }
}

@media (min-width: 1401px) and (max-width: 1518px) {
    .visitor-data {
        font-size: 0.8rem;
    }
}



/*

.card-document-list {
    .row {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    }
    &:last-of-type {
        .row {
            border-bottom: none !important;
        }
    }
}
*/
.photo-bg {
    background-color: #E2E5EF;
}

.photo-card {
    border-radius: 0 0 0 7px;
}

.html5-qrcode-element {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #3490dc;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    color: #fff;
    background-color: #3490dc;
}


.html5-qrcode-element:hover {
    color: #fff;
    background-color: #52A1E1;
    border-color: #52A1E1;
}

.fix-align-top {
    margin-top: -8px;
}

.custom-tooltip {
    --bs-tooltip-bg: #142b53;
    --#{$prefix}tooltip-max-width: 450px;
    --#{$prefix}tooltip-padding-x: 20px;
    --#{$prefix}tooltip-padding-y: 20px;
    font-weight: bold;
}

.more-destinys {
    padding: 6px 6px 5px 6px;
}

.multiple-destiny {
    border-bottom: solid 1px #4075d1;
    &:last-of-type {
        border-bottom: none !important;
    }
}


.topbar-blue {
    background: #112445;

    .btn-secondary {
        background: #1A396E;
    }
    .username {
        font-size: 90%;
        @media (max-width: 575.98px) {
            font-size: 75%;
        }

    }
}


select#session_building_id {
    padding: 0.2em 0.5em 0.2em 1.5em;
    background-image: url("/img/building-solid.svg");
    background-repeat: no-repeat;
    background-size: 0.7em auto;
    background-position: 0.4em center;
    color: #fff;
    font-size: 90%;
    font-weight: 700;
}

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        left: -105px;
    }
}




