.swiper-slide {
    .card.bg-white {
        background: rgba(255, 255, 255, 0.4) !important;
        border: 3px solid #d4dadf !important;

        .card-header {
            background: rgba(212, 218, 223, 0.7);
        }
    }
}
